body {
  margin: 50px;
  font-family: Arial;
}

html {
  background-color: #fff;
}

/*@font-face {
  font-family: StagSansLight;
  src: url(fonts/StagSans-Thin.otf);
}

@font-face {
  font-family: StagSansMed;
  src: url(fonts/StagSans-Medium.otf);
}*/

#logo {
  height:100px;
  width:100%;
}

.videoWrap {
  max-width: 1024px;
  max-height: 576px;
  margin: auto;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
.toc ul li{
  display: inline-block;
  list-style: none;
  text-align: center;
}
.toc ul li a{
  display: block;
  padding:10px 20px;
  text-decoration: none;
  background-color: #ccc;
  color: #000;
  font-size:12px;
  text-transform: uppercase;
  border-bottom:3px solid #fff;
}
.toc ul li a:hover{
  border-bottom:3px solid #333;
}
.toc ul{
  margin: 20px auto;
  text-align: center;
}
